@import "../../scss/variabels";

:host {
  .container{
    position: fixed;
    overflow-y: scroll;
    top: 60px;
    bottom: 45px;
    right: 10px;
    left: 10px;

    @include desktop-only {
      bottom: 0px;
    }
  }
}