<mat-nav-list>
  <!-- <div *ngIf="Helper.user">
    <a *ngFor="let item of menuOptions" [routerLink]="item.route" mat-list-item  (click)="openLink($event)">
      <span mat-line><fa [name]="item.icon" size="lg"></fa>{{item.disp}}</span>
    </a>
  </div> -->
  <a mat-list-item  (click)="suggestion()">
    <span mat-line><fa name="envelope" size="lg"></fa>Suggestions</span>
  </a>
  <a mat-list-item   *ngIf="Helper.user" (click)="logout()">
    <span mat-line><fa name="power-off" size="lg"></fa>Logout</span>
  </a>
  <div class="flex-j-end">
    v{{version}}
  </div>
</mat-nav-list>
