<mat-form-field>
  <mat-select placeholder="Search by" [(ngModel)] = 'searchType' name = 'searchType'>
    <mat-option *ngFor="let type of searchTypes" [value]="type.key">
      {{type.val}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field #searchBox1 *ngIf="searchType==searchTypes[0].key">
  <input matInput placeholder="Eg. CAA1234" [(ngModel)]="regNo" (keydown)="onKeydown($event)" name="model">
</mat-form-field>

<mat-form-field #searchBox2 *ngIf="searchType==searchTypes[1].key">
  <input matInput placeholder="Eg. MFR123456789" [(ngModel)]="chassisNo" (keydown)="onKeydown($event)" name="Chassis">
</mat-form-field>
<br>

<div *ngFor="let v of vehicles" (click)="onVehicleSelect(v)" class="search-result">
 Ownerd by:  {{ v.ownerName }}
</div>

<div *ngIf="noResult" class="error">
  No vehicles exist for your search
  <br>
</div>
<button mat-button (click)="search()">Search</button>
