<div class="flex-j-center">
  <form>
    <div class="flex-j-sb">
      <mat-form-field class="m-5">
        <mat-select placeholder="Vehicle Category" [(ngModel)]='searchCategory' name='category'>
          <mat-option *ngFor="let item of categories" [value]="item.key">
            <div class="img-option">
              {{item.val}}
              <img [src]="'../../../assets/images/vehicle-types/' + item.val + '.png'">
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-brand-selector (selectBrand)="onSelectBrand($event)"></app-brand-selector>
    </div>
    <div class="flex-j-sb">
      <mat-form-field class="m-5">
        <input matInput placeholder="Model" [(ngModel)]="searchModel" name="model">
      </mat-form-field>

      <mat-form-field class="m-5">
        <input matInput placeholder="Manufactured Year" [(ngModel)]="searchManufactYear" name="manufactYear"
               type="number">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="onSearch()">Search</button>

  </form>
</div>
<div *ngIf="dataService.isVehicleSearchInprogress" class="page-loading">
  <img src="../../../assets/images/loading-page.gif">
</div>
<div *ngFor="let v of vehicleList">
  <app-vehicle-profile [selectedVehicle]="v" [isSearchResult]="true" [showNews]="false"></app-vehicle-profile>
</div>
