@import "../../scss/variabels";

:host {
  width: 100%;
  padding: 5px;

  form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: -10px;
  }

  app-brand-selector{
    margin: 5px;
    width: 45%;
  }

  mat-form-field {
    width: 45%;
  }
}



  .img-option {
  display: flex;
  justify-content: space-between;
  img {
    width: 100px;
    height: 25px;
    margin-top: 10px;
  }
}
