<div class="news-container" *ngFor="let news of newsArr">
<mat-card>
  <app-owner-desc [name] =  "news.ownerName" [image] =  "news.ownerImage" [description] = getDuration(news.time)></app-owner-desc>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <div class="flex-j-start">
    {{ news.desc }}
  </div>
  <div>


    <div class="comment">
      Hi how are you
    </div>

    <div class="comment">
      Hi how are you
    </div>

    <div class="comment">
      Hi how are you
    </div>

  </div>
</mat-card>
</div>
