@import "../../scss/variabels";

:host {
    width: 100%;

  .news-container {
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;

    .swiper-container {
      margin-top: 5px;

      .slide{
        display: flex;
        justify-content: center;
        background-color: black;

        div{
          width: 600px;
          height: 205px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          fa{
            color: white;
            float: right;
            margin-top: 178px;
            margin-right: 7px;
          }
        }
      }
    }
    .description{
      margin-top: 10px;
      color: #868686;
      .item {
        padding: 6px;
        background-color: #ebebeb;
        border-radius: 4px;
        .title {
          color: red;
          font-size: 0.8em;
          text-align: right;
        }
        .value {
          color: #000000;
        }
      }
    }

    .description-long{
      margin-top: 10px;
      color: #868686;
      padding: 5px;
    }

    .comment-container {
      padding: 5px;
      .comment {
        margin-left: 20px;
        font-size: 13px;
      }
      .add-comment {
        mat-form-field {
          width: 90%;
          margin-right: 25px;
        }
        margin-left: 20px;
        font-size: 13px;
        display: flex;
        align-items: center;
      }
    }
  }
}


mat-card.mat-card {
  padding: 10px 0px 10px 0px;
  border-radius: 0px;
}
