<mat-card>
  <app-owner-desc></app-owner-desc>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <div class="flex-j-start">
    Do you complete your Automobile engineering? Looking for an interview? Want to win your job search in first
    attempt? BE/B.Tech in Automobile
  </div>

  <div>


    <div class="comment">
      Hi how are you
    </div>

    <div class="comment">
      Hi how are you
    </div>

    <div class="comment">
      Hi how are you
    </div>


  </div>



</mat-card>