@import "../../scss/variabels";

:host {
    width: 100%;

  .news-container {
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;

    .description{
      margin-top: 10px;
      color: #868686;
      .item {
        padding: 6px;
        background-color: #ebebeb;
        border-radius: 4px;
        .title {
          color: red;
          font-size: 0.7em;
          text-align: right;
        }
        .value {
          color: #000000;
        }
      }
    }
    .slide{
      display: flex;
      justify-content: center;
      background-color: black;
    }
    .comment {
      margin-left: 20px;
      font-size: 13px;
    }
    .add-comment {
      mat-form-field{
        width: 90%;
        margin-right: 25px;
      }
      margin-left: 20px;
      font-size: 13px;
      display: flex;
      align-items: center;
    }
    img {
      max-height: 200px;
    }
  }
}
