<div id="overlay">
  <img class="loading-icon" src="../../../assets/images/loading3.gif">
</div>
<div class="mat-elevation-z6 header">
  <div class="flex-j-start">
    <div class="b-menu" (click)="showMenu()">
      <fa name="bars" size="lg"></fa>
    </div>
    <div class="logo">
      <b>AutoHUB</b>
    </div>
  </div>

  <div class="flex-j-sb font-size-25 menu-bar">
    <!--<div>-->
      <div [routerLink]="['/secure/news']">
        Timeline
      </div>
    <!--</div>-->

        <div class="b-menu" (click)="showSettings()">
          <fa name="cog" size="lg"></fa>
        </div>

        <div class="b-menu" (click)="showMenu()">
          <fa name="search" size="lg"></fa>
        </div>

        <div *ngIf="user">
          <img [src]="user.image">
        </div>

</div>


<!--<div class="add-btn">-->
  <!--<fa name="plus" size="lg"></fa>-->
<!--</div>-->
