<div id="overlay">
  <img class="loading-icon" src="../../../assets/images/loading3.gif">
</div>
<div class="header">
  <div class="flex-j-start pointer"  (click)="showMenu()">
    <div class="b-menu-left">
      <fa name="bars" size="lg"></fa>
    </div>
    <div class="logo">
      <b>VehiLIFE</b>
    </div>
  </div>

  <div class="flex-j-sb font-size-25 menu-bar">
    <span *ngIf="Helper.user" class="header-menu pointer show" (click)="showSearch()">
      <span><fa name="search" size="lg"></fa>Search</span>
    </span>

    <span *ngFor="let item of menuOptions" [routerLink]="item.route" class="header-menu pointer">
      <span  *ngIf="Helper.user"><fa [name]="item.icon" size="lg"></fa>{{item.disp}}</span>
    </span>

    <div *ngIf="Helper.user">
      <img [src]="Helper.user.image">
    </div>
    <a *ngIf="Helper.user" (click)="logout()" class="header-menu pointer">
      <span><fa name="power-off" size="lg"></fa>Logout</span>
    </a>
    <a *ngIf="!Helper.user" (click)="login()" class="header-menu show pointer">
      <span><fa name="power-off" size="lg"></fa>Login</span>
    </a>

</div>