$theme-color: #018786;
$font-color: #ffffff;
$owner-color: #005ff9;
$phone-breakpoint: 740px;
$max-width: 600px;

@mixin mobile-only() {
  @media only screen and (max-width: $phone-breakpoint) {
    @content;
  }
}

@mixin desktop-only() {
  @media only screen and (min-width: $phone-breakpoint) {
    @content;
  }
}

@mixin box-border {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
@mixin center-container() {
  width: 60%;
  float: left;
  @include mobile-only {
    width: 100%;
  }
}
