<div class="flex-j-center">
  <form>

    <mat-form-field>
      <mat-select placeholder="Vehicle Category" [(ngModel)] = 'vehicle.category' name = 'category'>
        <mat-option *ngFor="let item of vehicleCategories" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Brand Model" [(ngModel)]="vehicle.model" name="model">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Chassis No" [(ngModel)]="vehicle.ID" name="Chassis">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Year" [(ngModel)]="vehicle.manufactYear" name="manufactYear" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Reg. No" [(ngModel)]="vehicle.regNo" name="regNo">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Fuel Type" [(ngModel)] = 'vehicle.fuelType' name = 'fuelTypes'>
        <mat-option *ngFor="let item of fuelTypes" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Manufactured Country" [(ngModel)]="vehicle.manufactCountry" name="manufactCountry">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Engine Model/CC" [(ngModel)]="vehicle.engine" name="engine">
    </mat-form-field>

<div class="img-container">
  <app-photo-upload [id]="0" [title]="'Front Photo'" (imageChange)="onPhotoChange(0, $event)"></app-photo-upload>
  <app-photo-upload [id]="1" [title]="'Back Photo'" (imageChange)="onPhotoChange(1, $event)"></app-photo-upload>
  <app-photo-upload [id]="2" [title]="'Left Photo'" (imageChange)="onPhotoChange(2, $event)"></app-photo-upload>
  <app-photo-upload [id]="3" [title]="'Right Photo'" (imageChange)="onPhotoChange(3, $event)"></app-photo-upload>
</div>


    <div class="btn-holder">
      <button mat-raised-button color="warn">Clear</button>
      <button mat-raised-button color="primary" (click)="complete()">Add</button>
    </div>


  </form>
</div>
