<div class="flex-j-center">
  <form>
    <mat-form-field>
      <input matInput placeholder="Chassis No" [(ngModel)]="vehicle.chassisNo" name="Chassis">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Year" [(ngModel)]="vehicle.manufactYear" name="manufactYear" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Reg. No" [(ngModel)]="vehicle.regNo" name="regNo">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Manufactured Country" [(ngModel)]="vehicle.manufactCountry" name="manufactCountry">
    </mat-form-field>



<div class="img-container">
  <app-photo-upload [id]="i" *ngFor="let str of vCount; let i = index" (imageChange)="onPhotoChange(i, $event)"></app-photo-upload>
</div>


    <div class="btn-holder">
      <button mat-raised-button color="warn">Clear</button>
      <button mat-raised-button color="primary" (click)="complete()">Add</button>
    </div>


  </form>
</div>
