@import "../../scss/variabels";
h1 {
  background-color: $theme-color;
  left: 0;
  top: 10%;
  width: 100%;
  position: fixed;
  color: white;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  height: 112px;
  font-size: 85px;
}


.container {
  top: 30%;
  cursor: pointer;
  position: fixed;
  margin-top: 200px;
  width: 100%;
  left: 0;

  .login-btn{
    width: 180px;
    height: 37px;
  }

  .loading2 {

    width: 170px;
    height: 170px;
  }
}

