@import "../../scss/variabels";

:host {
  @include center-container();
  
  .arrow {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .guide{
    text-align: right;
  }
  .profile-container {
    margin-bottom: 10px;
    width: 100%;

    .swiper-container {
      margin-top: 5px;

      .slide {
        display: flex;
        justify-content: center;
        background-color: black;

        div{
          width: 600px;
          height: 205px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          fa{
            color: white;
            float: right;
            margin-top: 178px;
            margin-right: 7px;
          }
        }
      }
    }

    .vehicle-summary {
      margin-bottom: 2px;
    }

    .info {
      margin-top: 5px;
      div:nth-child(1) {
        color: #808080c7;
        width: 80px;

      }
      div:nth-child(2) {
        color: black;
      }
    }
    .theme-text {
      color: $theme-color !important;
    }

    .add-btn {
      width: 134px;
      margin-right: -2px !important;
      margin-top: 10px;
    }

    .action-buttons{
      fa{
        margin: 5px;
      }
      .req-owner{
        width: 140px;
      }
    }

    app-news-list {
      width: 100%;
    }

  }
  .more-info {
    color: #a8a8a8;
    font-size: 13px;
  }
  .show-more {
    font-size: 11px;
    color: darkblue;
  }
}
