@import "../../scss/variabels";

:host {
  width: 100%;

  .profile-container {
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;

    .swiper-container {
      margin-top: 5px;

      .slide {
        display: flex;
        justify-content: center;
        background-color: black;

        div{
          width: 600px;
          height: 205px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          fa{
            color: white;
            float: right;
            margin-top: 178px;
            margin-right: 7px;
          }
        }
      }
    }

    .vehicle-summary {
      margin-bottom: 10px;
    }

    .info {
      margin-top: 5px;
      div:nth-child(1) {
        color: #808080c7;
        width: 80px;

      }
      div:nth-child(2) {
        color: black;
      }
    }
    .theme-text {
      color: $theme-color !important;
    }

    .add-btn {
      width: 134px;
      margin-right: -2px !important;
      margin-top: 10px;
    }

    .action-buttons{
      fa{
        margin: 5px;
      }
    }

  }
}
