<div class="swiper-container" [swiper]="swiperConfig" [(index)]="index">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../../../assets/images/car1.jpg">
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/images/car2.jpg">
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/images/car3.jpg">
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>




<div class="font-size-30">

  <div class="flex-j-start info">
    <div>REG. NO:</div>
    <div>{{ vehicle.regNo }}</div>
  </div>
  <div class="flex-j-start info">
    <div>MODEL:</div>
    <div> {{ vehicle.model }} </div>
  </div>
  <div class="flex-j-start info">
    <div>YEAR: </div>
    <div>{{ vehicle.manufactYear }}</div>
  </div>
  <div class="flex-j-start info">
    <div>MADE IN:</div>
    <div>{{ vehicle.manufactCountry }}</div>
  </div>
  <div class="flex-j-start info">
    <div>ENGINE:</div>
    <div>{{ vehicle.engine }}</div>
  </div>
  <div class="flex-j-start info">
    <div>FUEL</div>
    <div>{{ vehicle.fuelType }}</div>
  </div>

</div>

<div>
  <app-news-list [vehicleID]="vehicleID"></app-news-list>
</div>

