<div *ngIf="Helper.user" class="profile-container">

  <div *ngIf="!isSearchResult">
    <div class="flex-j-sb">
      <div>
        <mat-form-field *ngIf = "myVehicles.length > 0">
          <mat-select placeholder="Select Vehicle" [(ngModel)]='selectedVehicle' name='selectedVehicle'
                      (selectionChange)="onVehicleChange()">
            <mat-option *ngFor="let vehi of myVehicles" [value]="vehi">
              {{vehi.regNo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button routerLink="/secure/add" class="add-btn" mat-stroked-button color="primary">Add Vehicle</button>
      </div>
    </div>
    <div *ngIf="isNew" class="arrow">
      <img src="../../../assets/images/arrow.gif">
    </div>
    <div *ngIf="isNew" class="guide">
      Add your vehicles. then add service history
    </div>
    <div *ngIf="isSearchResult" class="flex-j-start info">
      <app-owner-desc [name]="selectedVehicle.ownerName" [description]="'Owned by'"
                      [image]="userState.getFBImage(selectedVehicle.ownerID)"></app-owner-desc>
    </div>
  </div>

  <div *ngIf="selectedVehicle" class="swiper-container" [swiper]="swiperConfig">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide">
        <div [style.background-image]="'url(' + selectedVehicle.photos[0] + ')'">
          <a [href]=selectedVehicle.photos[0] target="_blank">
            <fa name="th-large" size="lg"></fa>
          </a>
        </div>
      </div>
      <div class="swiper-slide slide">
        <div [style.background-image]="'url(' + selectedVehicle.photos[1] + ')'">
          <a [href]=selectedVehicle.photos[1] target="_blank">
            <fa name="th-large" size="lg"></fa>
          </a>
        </div>
      </div>
      <div class="swiper-slide slide">
        <div [style.background-image]="'url(' + selectedVehicle.photos[2] + ')'">
          <a [href]=selectedVehicle.photos[2] target="_blank">
            <fa name="th-large" size="lg"></fa>
          </a>
        </div>
      </div>
      <div class="swiper-slide slide">
        <div [style.background-image]="'url(' + selectedVehicle.photos[3] + ')'">
          <a [href]=selectedVehicle.photos[2] target="_blank">
            <fa name="th-large" size="lg"></fa>
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <div class="flex-j-end action-buttons">
    <button class="req-owner red-text"
            *ngIf="!isSearchResult && selectedVehicle && selectedVehicle.status == vehicleStatus.SELL && selectedVehicle.ownerID == userState.user.id"
            mat-button (click)="avoidSell()">Don't Sell
    </button>
    <button class="req-owner red-text"
            *ngIf="!isSearchResult && selectedVehicle && selectedVehicle.status != vehicleStatus.SELL && selectedVehicle.ownerID == userState.user.id"
            mat-button (click)="readyForSell()">Sell
    </button>
    <fa *ngIf="!isSearchResult && selectedVehicle" name="edit" size="sm" class="pointer" (click)="swapEditBtn()"></fa>
    <fa *ngIf="!isSearchResult && selectedVehicle" name="trash" size="sm" class="pointer"
        (click)="deleteVehicle()"></fa>
  </div>
  <div *ngIf="showEdit && selectedVehicle" class="img-container">
    <app-add-vehicle [vehicle]="selectedVehicle" (closed)="showEdit = false"></app-add-vehicle>
  </div>

  <div *ngIf="selectedVehicle && !showEdit" class="vehicle-summary flex-j-sa">
    <div>
      <div class="flex-j-start info">
        <div>REG. NO:</div>
        <div>{{ selectedVehicle.regNo }}</div>
      </div>
      <div class="flex-j-start info">
        <div>MODEL:</div>
        <div> {{ selectedVehicle.model }}</div>
      </div>
      <div class="flex-j-start info">
        <div>YEAR:</div>
        <div>{{ selectedVehicle.manufactYear }}</div>
      </div>
      <div class="flex-j-start info">
        <div>CHASSIS:</div>
        <div>{{ selectedVehicle.chassisNo }}</div>
      </div>
    </div>
    <div>
      <div class="flex-j-start info">
        <div>BRAND:</div>
        <div>{{ Helper.getBrandStringFromID(selectedVehicle.brand) }}</div>
      </div>
      <div class="flex-j-start info">
        <div>MADE:</div>
        <div>{{ Helper.getCountryStringFromID(selectedVehicle.manufactCountry) }}</div>
      </div>
      <div class="flex-j-start info">
        <div>ENGINE:</div>
        <div>{{ selectedVehicle.engine }}</div>
      </div>
      <div class="flex-j-start info">
        <div>FUEL</div>
        <div>{{ selectedVehicle.fuelType }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedVehicle">
    <div class="flex-j-end show-more">
      <div *ngIf="!showDescription" mat-button class="pointer" (click)="showDescription = !showDescription">
        show more..
      </div>
    </div>
    <div *ngIf="showDescription" class="more-info">
      <div>
        {{selectedVehicle.description}}
      </div>
      <div *ngIf="isSearchResult && !showNews">
        <a [routerLink]="['/secure/profile/1']" [queryParams]="selectedVehicle">See maintenance history</a>
      </div>
    </div>
    <div class="flex-j-end show-more">
      <div *ngIf="showDescription" mat-button class="pointer" (click)="showDescription = !showDescription">
        hide more..
      </div>
    </div>
  </div>

  <div *ngIf="!showEdit && selectedVehicle && showNews">
    <app-news-list [vehicle]="selectedVehicle" [isSearchResult]="isSearchResult" [isNewsView]="false"></app-news-list>
  </div>

</div>
