@import "../../scss/variabels";

:host {
    max-width: 725px;
    padding: 5px;
    .swiper-container{
        
        .swiper-slide {
            height: 50vh;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .info{
        margin-top: 5px;
        div:nth-child(1){
            color: #808080c7;
            width: 120px;
           
        }
        div:nth-child(2){
           color: black;
        }
    }
    .theme-text{
        color: $theme-color !important;
    }
}