<div class="swiper-container" [swiper]="swiperConfig" [(index)]="index">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../../../assets/images/car1.jpg">
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/images/car2.jpg">
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/images/car3.jpg">
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<div class="flex-j-end font-size-30 info">
    <div style="width: 80px">OWNER:</div>
    <div class="theme-text">Mr. Malinda Madhushan Kumarasinghe</div>
</div>

<div class="font-size-30">
  <div class="flex-j-start info">
    <div>MODEL:</div>
    <div>TOYOTA PREMIO</div>
  </div>
  <div class="flex-j-start info">
    <div>YEAR: </div>
    <div>2007</div>
  </div>
  <div class="flex-j-start info">
    <div>MANUFACT:</div>
    <div>Japan</div>
  </div>
  <div class="flex-j-start info">
    <div>ENGINE:</div>
    <div>NZR 1200cc</div>
  </div>
  <div class="flex-j-start info">
    <div>SEATS:</div>
    <div>33</div>
  </div>
  <div class="flex-j-start info">
    <div>COLOR:</div>
    <div>Wine red</div>
  </div>
</div>

<div>
  <app-news-list [vehicleID]="vehicleID"></app-news-list>
</div>

