@import "../../scss/variabels";

:host {
    width: 100%; 
    .owner{
        margin-bottom: 10px;
        img{
            width:40px;
            height:40px;
            border-radius: 100%;
        }
        div{
            display: flex;
            align-items: center;
            margin-left: 10px;
            color: $owner-color;
        }

    }}