<h2> {{header}}</h2>
<p> {{message}}</p>

<mat-form-field *ngIf="type == dialogType.TEXT_INPUT">
  <textarea matInput placeholder="Add your text here..." [(ngModel)]="textInput" name="model"></textarea>
</mat-form-field>

<mat-form-field *ngIf="type == dialogType.COUNTRY_SELECT">
  <app-country-selector (selectCountry)="selectedCountryCode = $event"></app-country-selector>
</mat-form-field>

<button mat-raised-button color="primary" (click)="confirm()">OK</button>
<button mat-raised-button color="accent" (click)="close()">Cancel</button>
