<div *ngIf="showAd">
  <ng2-adsense
    [adClient]="'ca-pub-6698607648075269'"
    [adSlot]="6459855625"
    [display]="'inline-block'"
    [width]="160"
    [height]="600"></ng2-adsense>
  <!--<ng2-adsense-->
    <!--[adClient]="'ca-pub-6698607648075269'"-->
    <!--[adSlot]="6459855625"-->
    <!--[width]="160"-->
    <!--[height]="600">-->
  <!--</ng2-adsense>-->
</div>
  <!--<ng-adsense></ng-adsense>-->


  <!--<div>-->
  <!--<ins class="adsbygoogle"-->
  <!--style="display:block"-->
  <!--data-ad-client="ca-pub-6698607648075269"-->
  <!--data-ad-slot="6459855625"-->
  <!--data-ad-format="auto"></ins>-->
  <!--</div>-->
  <!--<br>-->



