<div>
  <div>
    <app-add-news *ngIf="!isSearchResult" [resetCount]="resetCount" [widgetType]="addNewsType"></app-add-news>
  </div>

  <div *ngIf="!isNewsView && !isSearchResult"  class="flex-j-end private-mode">
    <mat-slide-toggle [checked]="isShowOnlyMyNews" (change)="onToggleNewsPref()">{{isShowOnlyMyNews? lblPrivateHistory : lblPublicHistory}}</mat-slide-toggle>
  </div>
  <div *ngIf="isNewsView && Helper.user"  class="flex-j-end private-mode">
    <mat-slide-toggle [checked]="isShowLocalNews" (change)="onToggleNewsCountryPref()">{{isShowLocalNews? lblLocalNews : lblGlobalNews}}</mat-slide-toggle>
  </div>
</div>


<div class="news-container" *ngFor="let news of newsArr">
  <mat-card>
    <app-owner-desc [name]="news.ownerName" [image]="Helper.getFBImage(news.ownerID)"
                    [description]=getDuration(news.time)></app-owner-desc>
    <div *ngIf="true" class="swiper-container" [swiper]="swiperConfig">
      <div class="swiper-wrapper">
        <div *ngIf="news.photos[0]" class="swiper-slide slide">
          <div [style.background-image]="'url(' + news.photos[0] + ')'">
            <a [href]=news.photos[0] target="_blank">
              <fa name="th-large" size="lg"></fa>
            </a>
          </div>
        </div>
        <div *ngIf="news.photos[1]" class="swiper-slide slide">
          <div [style.background-image]="'url(' + news.photos[1] + ')'">
            <a [href]=news.photos[1] target="_blank">
              <fa name="th-large" size="lg"></fa>
            </a>
          </div>
        </div>
        <div *ngIf="news.photos[2]" class="swiper-slide slide">
          <div [style.background-image]="'url(' + news.photos[2] + ')'">
            <a [href]=news.photos[2] target="_blank">
              <fa name="th-large" size="lg"></fa>
            </a>
          </div>
        </div>
        <div *ngIf="news.photos[3]" class="swiper-slide slide">
          <div [style.background-image]="'url(' + news.photos[3] + ')'">
            <a [href]=news.photos[3] target="_blank">
              <fa name="th-large" size="lg"></fa>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <div *ngIf="news.type && news.type !== newsTypes.NEWS" class="flex-j-sa description">
      <div class="item">
        <div class="value">{{ getNewsType(news.type) }}</div>
        <div class="title">Category</div>
      </div>
      <div class="item">
        <div class="value">{{ news.odoMeter }}</div>
        <div class="title">ODO Meter</div>
      </div>
      <div class="item">
        <div class="value">{{ news.cost }}</div>
        <div class="title">Total Cost</div>
      </div>
      <div class="item">
        <div class="value">{{ formatDate(news.time) }}</div>
        <div class="title">Date</div>
      </div>
    </div>
    <div [class.flex-j-sb]="!news.showEdit" [class.flex-j-center]="news.showEdit">
      <div *ngIf="!news.showEdit" class="description-long">
        {{ news.desc }}
      </div>
      <div *ngIf="Helper.user && news.ownerID === Helper.user.id" class="m-5">
        <app-add-news *ngIf="news.showEdit" [news]="news" (closed)="news.showEdit = false" (saveComplete)="onEditComplete(news, $event)"></app-add-news>
        <div class="flex-j-end pointer">
          <fa *ngIf="!news.showEdit" name="pencil" (click)="swapEditBtn(news)"></fa>
        </div>
      </div>
    </div>
    <div class="comment-container">
        <div style="width: 100%;">
          <div *ngIf="news.showComment && Helper.user" class="add-comment">
            <mat-form-field>
              <textarea matInput placeholder="Leave a comment" [(ngModel)]="news.addCommnet"></textarea>
            </mat-form-field>
            <div (click)="addComment(news)" class="pointer">
              <fa name="save" size="2x"></fa>
            </div>
          </div>

          <div *ngIf="news.comments">
            <div *ngFor="let comment of news.comments" class="comment">
              <img [src]="comment | commentProfPic">
              <span class="user">{{comment | commentUserName}} : </span>
              <span class="text">{{comment | commentMsg}}</span>
            </div>
          </div>
        </div>
        <div>
          <div *ngIf="!news.showComment && Helper.user" (click)="news.showComment=true" class="pointer">
            <fa name="comments" size="1x"></fa>
          </div>
        </div>
      </div>
  </mat-card>

</div>
<div *ngIf="dataService.isNewsFetchInprogress || dataService.isVehicleNewsFetchInprogress" class="page-loading">
  <img src="../../../assets/images/loading-page.gif">
</div>
